@import "tailwindcss";

 :root{
    --primary-color:#0e0a0d;
    --sec-color:#fa3862;
    --btn-color:#250e15;
 }

@layer utilities {
    .bg-primary {
    background-color: var(--primary-color);
  }

  .bg-seconday{
    background-color: var(--sec-color);
  }

  .bg-btn{
    background-color: var(--btn-color);
  }

}   