@import "tailwindcss";

 :root{
    --primary-color:#000000;
    --sec-color:#3B82F6;
 }

@layer utilities {
    .bg-primary {
    background-color: var(--primary-color);
  }

  .bg-seconday{
    background-color: var(--sec-color);
  }

}   